.banner {
    background-color: rgba(12, 35, 94, 0.8);
    font-size: 3rem;
    text-align: center;
    padding: 10px;
    color: aliceblue;
}

header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 0;
    margin: 0 10px;
}

header div {
    display: flex;
    align-items: center;
    flex-basis: 40%;
}

header div img {
    margin-left: 1rem;
    max-width: 90px;
}

header div h1 {
    margin-left: 1rem;
    font-size: 4rem;
    font-weight: bold;    
    margin-top: .1rem;
    margin-bottom: .1rem;
}

header nav {
    flex-basis: 60%;
    display: flex;
    justify-content: flex-end;
}

header nav ul {
    display: flex;
    
    gap: 1rem;
    margin-right: 1rem;
    margin-top: .1rem;
    margin-bottom: .1rem;
    text-decoration: none;
    font-size: 2.5rem;
    list-style-type: none;
}


.nav-link {
    text-decoration-line: none;
    padding: 10px;
    transition: background-color 0.7s;
}

.nav-link:hover {
    background-color: rgba(12, 35, 94, 0.529);
}



@media (max-width: 585px) {
    header {
        padding: 1rem 0;
        flex-direction: row;
        margin: 0;
    }

    header nav {
        display: none;
    }

    header div {
        margin-left: 1rem;
        flex-basis: auto;
    }

    .banner {
        font-size: 1.5rem;
    }
}

@media (max-width: 1090px) {
    header {
        flex-direction: column;
        justify-content: space-between;
        gap: 1rem;
    }
}